.App {
  /* background-color: #fff; */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

/* .footer {
  background-color: blue;
} */

h1{
  margin: 0;
}

.header {
  color: white;
  background-color: #192a56;
  padding: 14px;
  text-align: ce  nter;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-wrap: wrap;
  padding: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(39, 39, 211);
  color: white;
  padding: 5px;
  margin: 5px;
}

.heading {
  color: black;
  font-size: 80px; 
}

.form {
  margin-top: 20px;
}

.data {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding: 5px;
  margin-top: 15px;
  align-items: center;
  width: 100%;
}

.data_val {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 0px 10px;
  /* background-color: rgb(229, 209, 182); */
  box-shadow: rgba(20, 20, 20, 0.2) 0px 7px 29px 0px;
}


/* .movie {
  background-color: #d9d5d5;
  color: black;
  border: 1px solid grey;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin: 14px;
}

.movie img{
  height: 300px;
  width: 100%;
} */




