.App {
  text-align: center;
  background-color: #fff;
  color: aliceblue;
  min-height: 100vh;
}

.header {
  background-color: yellow;
}

.footer {
  background-color: blue;
}

h1{
  margin: 0;
}


