.App {
  text-align: center;
  background-color: #fff;
  color: aliceblue;
  min-height: 100vh;
}

.header {
  background-color: yellow;
}

.footer {
  background-color: blue;
}

h1{
  margin: 0;
}

.header {
  background-color: rgb(23, 32, 135);
  padding: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-wrap: wrap;
  padding: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(39, 39, 211);
  color: white;
  padding: 5px;
  margin: 5px;
}

.heading {
  color: black;
  font-size: 80px; 
}


/* .movie {
  background-color: #d9d5d5;
  color: black;
  border: 1px solid grey;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin: 14px;
}

.movie img{
  height: 300px;
  width: 100%;
} */




