.PersonBox {
    box-shadow: 2px 0px 5px grey;
    width: 700px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(105, 198, 198);
}

.PersonLabel {
    color: brown;
}

.Label {
    color: red;
}